{% extends "base.html" %}  {% load static %} 
{% block content %}
<div class="container about-container">
    <div class="about-text">
        <h2>ABOUT OUR RESTAURANT</h2>
        <p>
            Welcome to our restaurant! We are committed to providing a unique experience that combines traditional flavours with a modern twist. Our chefs use locally sourced ingredients to create the best dishes.
            </p>
            <p>
                Founded in 2004,our mission has always been to create a warm and welcome experience for our guest. we believe rgat great food brings people together,and every meal a special occasion 
                </p>
                </div>
                <div class="about-image">
                    <img src="{% static ''">
                    </div>
                    </div>
                    {% endblock %}