<!DOCType html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>RESTAURANT MANAGEMENT SYSTEM</title>
        <link rel="stylesheet" href="style.css">
        </head>
        <body>
            <header class="header">
                <h1>WELCOME TO{{restaurant_name}}!</h1>
                <h1>RESTAURANT MANAGEMENT DASHBOARD</h1>
                <h1>{{restaurant_name}}</h1>
                <nav>
                    <ul class="nav-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Orders</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href-"#">Staff</a></li>
                     </ul>
                </nav>
                <nav>
                    <ul>
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Reservations</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="{% url 'about' %}">About Us</a></li> <li><a href="#">Employee</a></li>
                        </ul>
                        </nav>
             </header>
             <main class="container">
                <p>This is the homepage for our restaurant</p>
                <p>Use the navgation above to get started.</p>
                <section class="card">
                    <h2>Today's Summary</h2>
                    <p>Total Orders: <strong>124</strong></p>
                    <p>Revenue: <strong>Rs 22,5400</strong></p>
                    </section>
                    <section class="card">
                        <h2>Pending Reservations</h2>
                        <ul>
                            <li>John Doe - 7:00 PM(4 guests)</li>
                            <li>Jane Smith - 7:30 PM(2 guest)</li>
                            </ul>
                            </section>
                            </main>
                            <footer class="footer">
                                <p>&copy; 2025 {{restaurant_name}}</p>
                            </footer>
            </body>
    </html>
                 
            


      