<!DOCTYPE html>
<html langnt="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device=width,initial-sclae=1.0">
        <title>RESERVATIONS</title>
        </head>
        <body>
            <header>
                <h1>RESERVATIONS</h1>
                </header>
                <main>
                    <p>THIS PAGE WILL DISPLAY A LIST OF UPCOMING RESERVATIONS</p>
                    <p>FUNCTIONALITY FOR VIEWING,ADDING AND MANAGING RESERVATIONS WILL BE ADDED HERE SOON</p>
                </main>
                <footer>
                    <p>&copy; 2025 Restaurant Management</p>
                </footer>
        </body>
</html>
